<div class="container">
<div class="row">
  <div class="col-3" style=flex-direction:column;>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %><br>
  <table class="table">
    <tr>
  <td>name</td>
  <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= @user.introduction %></td>
  </tr>
  </table>
  
  <div class="row" style="justify-content:center;">
    <%= link_to edit_user_path(@user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block">
  <i class="fa-solid fa-user-gear"></i>
  </button>
  <% end %>
</div>
<div>
  <h1>New book</h1>
<%= form_with model: @book do |f|%>
<p>Title</p>
<%= f.text_field :title %>

<p>Opinion</p>
<%= f.text_area :body %><br>
<button class="btn btn-primary" type="submit">Create Book</button>


<% end %>
</div>
</div>


<div class="col-8 offset-1">
  <h1>Users</h1>
  
  <table class="table">
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>

<% @users.each do |user| %>

<tr>
  <td>
    <%= image_tag user.get_profile_image(100,100) %>
  </td>

<td><%= user.name %></td>

<td><%= link_to "show",user_path(user.id) %></td>

</tr>
<% end %>
</table>

</div>
</div>

</div>