 <div class="container px-5 px-sm-0">
    <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
  <% @book.errors.full_messages.each do |message| %>

    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<div class="row">
<div class="col-md-3">
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %><br>
  <table class="table">
    <tr>
  <td>name</td>
  <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= @user.introduction %></td>
  </tr>
  </table>

  <div class="row">
    <%= link_to edit_user_path(@user),class:"btn btn-outline-secondary btn-block" do %>

 <i class="fas fa-user-cog"></i>
  </button>
  <% end %>
</div>
<div>
  <h1>New book</h1>
<%= form_with model: @book do |f|%>
<p>Title</p>
<%= f.text_field :title,size: "35" %>

<p>Opinion</p>
<%= f.text_area :body,size: "35" %><br>
<button class="btn btn-primary" type="submit">Create Book</button>


<% end %>
</div>
</div>
<div class="col-md-8 offset-md-1">
  <h1>Books</h1>


<table class="table">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>

<% @books.each do |book| %>

<tr>

  <td>
    <%= link_to user_path(book.user_id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
  </td>

<td><%= link_to book_path(book.id) do %>
<%= book.title %>
<% end %>
</td>
<td>
<%= book.body %>

</td>

  <% end %>

</tr>
</table>
</div>
</div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>
