<h1>index</h1>

<% @books.each do |book| %>

<p>Title</p>
<%= link_to book_path(book.id) do %>
<%= book.title %>
<% end %>
<p>Opinion</p>
<%= book.body %>
<% end %>

<h1>New book</h1>
<%= form_with model: @book do |f|%>
<p>Title</p>
<%= f.text_field :title %>

<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit "投稿" %>

<% end %>
